@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap');


body {
    background-color: #fcfbfb;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}



#page-container {
    max-width: 1600px;
    margin: 0 auto;
}




nav a {
    text-align: center;
    color: #333;
    text-decoration: none;
    padding: 35px;
}

nav li {
    padding: 10px;
}




.book,
.join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box; 
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    color: #333;
    font-family: Fredoka, sans-serif; 
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: aquamarine;
}


.home-title {
    margin-top: 10px;
    /* week 4 step 13 color */
    /* week 5 step 1 & 2 font and size */
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

footer {
    margin-top: 200px;
    /* week 4 step 12 background color 
    Week 4 Step 13 color
    Week 5 step 4 padding
    */
}



/* 
Week 4 step 12
header
nav a:hover
.book:hover, .join:hover 
.msg

week 4 step 13
nav a:hover
h4 
.book:hover, .join:hover
.msg h2.msg p 
footer a
footer a:hover

Week 4 step 14
#hero-img
.icon
.logo

Week 4 Step 15
footer a
footer a:hover

Week 5 Step  & 2
.msg h2


Week 5Step 4
#logo_link
.msg
.msg p
footer .social img */








    



